html { overflow-x: hidden; }

body {font-family: Verdana, sans-serif; margin:0}

p {
  font-size: 1.5rem;
}

.col-4 p {
  line-height: 5px;
  margin: 4px;
  font-size: 1rem;
}

.mail img{
  width: 24px;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos img{
  width: 100px;
  border-color: black;
  border-width: 10px solid;
  border-radius: 50%;
}

.cl{
  background-color: #cc0000;
  color: white;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  }

.clr h2 {
  width: 20%;
  background-color: #cc0000;
  color: white;
  text-align: center;
}

@media all and (orientation:portrait) {
  .clr h2 {
    font-size: 1.5rem;
    width: 80%;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

.nav-list li {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

@media all and (orientation:portrait) {
  .contcts {
    display: none;
  }

  .nav-list .line {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .nav-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-list li a {
    width: 90%;
    text-align: center;
    background-color: #ffb3b3;
  }
}

.nav-list li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.menu h1{
  /*margin-left: 500px;
  margin-top:25px;*/
  position: relative;
  top: 25px;
  left: 500px;
  border-color: red;
}

.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  font-size: 3rem;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 3rem;
  font-weight: 600;
  padding: 0px 20px;
  position: absolute;
  bottom: 45%;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade-carousel {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media all and (max-width: 1100px) {
  .prev, .next,.text {font-size: 1.5rem;}
}

/*FLEX-BTN*/

#order-btn {
  cursor: pointer;
  position: fixed;
  top: 300px;
  right: -75px;
  box-sizing: border-box;
  -webkit-transform: rotate(-90deg);
  background-color: #E31515;
  color: white;
  font-size: 20px;
  border-radius: 5px 5px 0 0;
  padding: 4px;
  z-index: 1;
}

@media all and (max-width:1100px) {
  #order-btn {display: none;}
}


@media all and (orientation:portrait) {
  #order-btn {display: none;}
}

/*FORM*/

/*Backround style for form*/
#myForm {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/*Style of form*/
.form {
  background-color: white;
  padding: 10px;
  width: 50%;
  height: 80%;
  margin: 5%;
}

.form h3 {
  background-color:#E31515;
  color: white;
}

.order-h {
  width: 60%;
  margin: 0 auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover {
  cursor: pointer;
}

input[type=text], textarea {
  width: 100%;
  padding: 5px;
  border: 2px solid #E31515;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: #E31515;
  color: white;
  padding: 12px 20px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #bb1111;
}

/*About Us*/

.about-us {
  background-image: url(sheeps.jpg);
  width: 100%;
}

.text-about-us {
  color: white;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.varenny {
  width: 100%;
  height: 80%;
}

.colb-type {
  color: #480202;
}

.navigator {
  width: 100%;
  height: 100%;
}

.partn1 {
  width: 220px;
}

.partn2 {
  width: 140px;
}

.partn3 {
  width:  300px;
}

@media all and (max-width: 1100px) {
  .partn1 {
    width: 140px;
  }

  .partn2 {
    width: 100px;
  }

  .partn3 {
    width: 180px;
  }
}

.footer-container {
  background: #082a02;
  color: white;
}

.footer-blocks {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-blocks .block div {
  display: inline-block;
  margin: 35px 5px;
}

.block-img {
  width: 20%;
}

.block-img img {
  width: 100%;
}

.block {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-block {
  background-color: #ff7070;
}

.second-block {
  background-color: #fc3d3d;
}

.third-block {
  background-color: #e31515;
}

.third-block:hover {
  cursor: pointer;
}

@media all and (orientation:portrait) {
  .footer-blocks {
    flex-direction: column;
    align-items: center;
  }

 .block {
    width: 80%;
  }
}

.logo {
  width: 30%;
  border-radius: 400px;
  margin-bottom: 20px;
}

.footer-container p {
  font-size: 1rem;
}

@media all and (orientation:portrait) {
  .block-img img {
    width: 70%;
}
}

@media all and (max-width: 800px) {
  .block h2 {font-size: 1rem;}
  .first-block {height: 150px;}
  .second-block {height: 150px;}
  .third-block {height: 150px;}
} 


